set es_enableCustomData 1 
set mysql_connection_string "server=mysql-mariadb-4-101.zap-hosting.com;database=zap410108-2;userid=zap410108-2;password=StMHWHU8eUuuxYSr" 
endpoint_add_tcp "134.255.233.203:30120" 
endpoint_add_udp "134.255.233.203:30120" 
sv_maxclients 10
# You probably don't want to change these!
# Only change them if you're using a server with multiple network interfaces.


# These resources will start by default.
start mapmanager
start chat
start SanAndreas
start spawnmanager
start sessionmanager
start fivem
start hardcap
start rconlog
start mysql-async
start essentialmode
start esplugin_mysql
start es_admin2
start es_ui
start NativeUI
start fivem-ipl

# start t-loadscreen
start bx-loading-screen
start assets
start async
start cron
start ft_libs
start es_extended
start instance
start mapcustom
start weaponry
start connectqueue
start pNotify
start RealAITraffic
start RealisticHandle
start JAM_Utilities
start fair-scripts
start fair_chat
start esx_rpchat
start SeatbeltIndicator
start 3dme
start simpleinteractions
start esx_status
start esx_voice
start esx_legacyfuel
start esx_skin
start esx_joblisting
start esx_vehicleshop
start esx_lscustom
start esx_JAM_Garage
start esx_menu_default
start esx_menu_dialog
start esx_menu_list
start esx_identity
start esx_addonaccount
start esx_addoninventory
start esx_society
start esx_license
start esx_billing
start esx_datastore
start vdk_call
start esx_addons_gcphone
start gcphone
start esx_policejob
start esx_ambulancejob
start esx_jobs
start esx_drugeffects
start new_banking
start esx_outlawalert
start stasiek_selldrugs
start esx_moneywash
start esx_holdup
start esx_basicneeds
start esx_shops
start esx_dmvschool
start esx_weaponshop
start esx_thief
start esx_jail
start esx_property
start esx_scratchoffs
start esx_radio
start esx_doorlock
start esx_pawnshop
start esx_whitelist
start esx_plasticsurgery
start skinchanger
start id-card
start jsfour-idcard
start jsfour-criminalrecord
start esx_vehiclelock
start esx_mechanicjob
start esx_scoreboard
start streetLabel
start JF_SeatShuffle
start wk_vehdamage
start esx_repairkit
start esx_jailer
start esx_ktackle
start esx_securitycam
start mhacking
start mtracker
start schafter
start wk_wrs
start esx_clotheshop
start oracle
start blacklist
start fair_custom
start esx_pharmacy
start save-position
start esx_personmeny
start vengine
start esx_carwash
start loffe_burglary
start esx_duty
start esx-kr-vehicle-push
start JAM_Drugs
start esx_planting
start lp700r
start 99kr-burglary
start esx_inventoryhud
start esx-qalle-camerasystem
start esx_accessories
start statuses_health
start FiveM-BanSql
start vehicles_h2
start Chopshop
start coffe_policestation
start fairemotes
start widebodygtr
start 2015polstang
start PillboxHospital-doors
start PillboxHospital
start discordadvert

# This allows players to use scripthook based plugins such as lambda menu.
# Set this to 0 to disallow scripthook.
sv_scriptHookAllowed 0

# Uncomment this to enable RCON. Make sure to change the password.
rcon_password b763fc0a83

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
sets tags "roleplay, fair, rp, police, whitelist, jobs, robbery, system, drugs, weed"

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "http://url.to/image.png"
#sets banner_connecting "http://url.to/image.png"

# Set your server's hostname
sv_hostname "Anubis RP | Serious RP Storyline | DEV SERVER | Twitch | Pixel  Join our discord to get whitelisted"

# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
load_server_icon logomini.png

# convars which can be used in scripts
set temp_convar "Welcome!"

# Uncomment this line if you do not want your server to be listed in the server browser.
#sv_master1 ""

# Want to only allow players authenticated with a third-party provider like Steam?
# Don't forget Social Club is a third party provider too!
#sv_authMaxVariance 1
#sv_authMinTrust 5

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
# add_principal identifier.steam:76561197999449843 group.admin # add the admin to the group

# Hide player endpoints in external log output.
sv_endpointprivacy true

#This is an official FiveM server hosted by ZAP-Hosting.com. You do not need to put a license key here.
restart sessionmanager
